
<head> 
    <!-- Including files to import some css and font libs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- bootstrap related tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- including bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <!-- including jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- css for sidebar -->
    <link href="{{url_for('static', filename = 'css/sidebars.css')}}" rel="stylesheet">
    <!-- css for navbar -->
    <link href="{{url_for('static', filename = 'css/navbar.css')}}" rel="stylesheet">
    <!-- css for progress -->
    <link href="{{url_for('static', filename = 'css/progress.css')}}" rel="stylesheet">
</head>

<body>
    <!-- Page Wrapper -->
    <div id = "page_wrapper" class="d-flex flex-row bg-light">
        <!-- Sidebar (Copied from bootstrap example of sidebar + offcanvas) -->
        <div class="offcanvas offcanvas-start flex-column flex-shrink-0 p-3 bg-light" id = 'sidebar' style="width: 280px;">
            <a class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <span class="fs-5 fw-semibold">Priyant Jain</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    Home
                </button>
                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#User_card" class="link-dark rounded">Overview</a></li>
                    <li><a href="#" class="link-dark rounded">Standard Tasks</a></li>
                    <li><a href="#" class="link-dark rounded">To Do</a></li>
                    <li><a href="#" class="link-dark rounded">Recurring Tasks</a></li>
                    </ul>
                </div>
                </li>
                <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Sheets
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Brainpad</a></li>
                    </ul>
                </div>
                </li>
            </ul>
        </div>
        
        <!-- Main Page -->
        <div class = 'd-flex flex-column flex-grow-1' id = 'main_page'>
            <!-- Navbar -->
            <nav class="navbar navbar-expand navbar-light bg-white">
                <div class="container-fluid">
                  <!-- Button not used will make navbar collapse if screen too small, need to change navbar-expand in nav tag-->
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_top" aria-controls="navbar_top" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
          
                  <div class="collapse navbar-collapse justify-content-sm-center" id="navbar_top">
                    <ul class="navbar-nav">
                        <a class="nav-link" id = 'a_sidebar_btn'>
                            <!-- Sidebar button (copied from bootstrap) -->
                            <button class="btn btn-sidebar align-items-center rounded collapsed" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                                <i class="fa-solid fa-bars-staggered"></i>
                            </button>
                        </a>
                        <a class="nav-link"> Gamifying Real Life </a>
                    </ul>
                  </div>
                </div>
            </nav>

            <div class="d-flex flex-row">
                <!-- User status card -->
                <div class="card mb-4 ms-4 shadow-sm col-sm-2 bg-white" id = "User_card">
                    <div class="card-body text-center">
                        <img src="../static/default_user_profile_pic.png" alt = "avatar"
                            class="shadow-sm rounded-circle img-fluid">
                        <h5 class="my-3">Priyant Jain</h5>
                        <h7 class="my-3">Current Score {{score}}</h7><br/>
                        <h7 class="my-3">{{[today_target - score, 0]| max}} points to go</h7><br/>
                        <h7 class="my-3">{{membership}} class</h7><br/>
                    </div>
                </div>
                
                <div class="d-flex flex-column">
                    <!-- Extra task -->
                    <div class = "d-flex flex-row input-group input-group mb-4 ms-4 shadow-sm bg-white rounded-pill p-1">
                        <span class = "input-group-text border border-0 bg-white rounded-pill" >Extra Task</span>
                        <input type="text" class="form-control rounded-pill ms-1" placeholder="Task name" aria-label = "ET_task_name" id = "ET_task_name">
                        <input type="text" class="form-control rounded-pill ms-1" placeholder="Points change" aria-label = "ET_points_change" id = "ET_points_change">
                        <button class="btn btn-outline-secondary rounded-pill ms-1" type="button" id = "register_ET">Submit</button>
                    </div>

                    <!-- Standard Tasks -->
                    <div class = "d-flex flex-row input-group input-group mb-4 ms-4 shadow-sm bg-white rounded-pill p-1">
                        <span class = "input-group-text border border-0 bg-white rounded-pill" >Standard Task</span>
                        <select class = "form-select rounded-pill ms-1" id = "StandardTasks">
                            <option selected> Select </option>
                            <option value = "Walk"> Walk distance (steps)</option>
                            <option value = "Learning"> Learning chunk (100 pt/unit)</option>
                            <option value = "Brainpad"> Brainpad (100 pt/unit)</option>
                        </select>
                        <input type="text" class="form-control rounded-pill ms-1" aria-label = "Standard_points_change" id = "StandardTasksValue">
                        <button class="btn btn-outline-secondary rounded-pill ms-1" type="button" id = "StandardTasksSubmit">Submit</button>
                    </div>

                    <!-- Create DT -->
                    <div class = "d-flex flex-row input-group input-group mb-4 ms-4 shadow-sm bg-white rounded-pill p-1">
                        <span class = "input-group-text border border-0 bg-white rounded-pill" >Create Daily Task</span>
                        <select class = "form-select rounded-pill ms-1" id = "DT_task_no">
                            <option selected> Select No. </option>
                            <option value = "1"> 1 </option>
                            <option value = "2"> 2 </option>
                            <option value = "3"> 3 </option>
                        </select>
                        <input type="text" class="form-control rounded-pill ms-1" aria-label = "DT_task_name" id = "DT_task_name">
                        <button class="btn btn-outline-secondary rounded-pill ms-1" type="button" id = "register_DT">Submit</button>
                    </div>

                    <!-- Daily Tasks -->
                    <div class = 'd-flex flex-column card mb-4 ms-4 shadow-sm'>
                        <div class="d-flex flex-row justify-content-center"><h4> Daily Tasks </h4></div>
                        <ul class="list-group border-0">
                            <li class="list-group-item">
                              <input id = 'DT_B1' class="form-check-input me-1" type="checkbox" value="" aria-label="..." {{'checked' if DT1_done == 1}}>
                              {{DT1}}
                            </li>
                            <li class="list-group-item">
                              <input id = 'DT_B2' class="form-check-input me-1" type="checkbox" value="" aria-label="..." {{'checked' if DT2_done == 1}}>
                              {{DT2}}
                            </li>
                            <li class="list-group-item">
                              <input id = 'DT_B3' class="form-check-input me-1" type="checkbox" value="" aria-label="..." {{'checked' if DT3_done == 1}}>
                              {{DT3}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- TO DO -->
            <div class = 'd-flex flex-row'>
                <div class="d-flex flex-column col-6 bg-white ms-4 mb-4 p-1 shadow-sm rounded-lg">
                    <div class="d-flex flex-row justify-content-between px-3 my-2">
                        <h5>TO DO LIST</h5>
                        <div class="d-flex flex-row">
                            <button type="button" class="btn btn-outline-secondary rounded-pill ms-1" data-bs-toggle="modal" data-bs-target="#modal_new_TD" data-bs-parent="-1">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    {% for task in to_do_list %}
                        {% if task|length == 1 %} 
                            <div class="d-flex flex-row mt-2 px-3">
                                <span class = 'col-8' name = 'TD_{{task[0]}}'>{{to_do[task[0]][0]}} </span>
                                <span class = 'col-2' name = 'TD_track_{{task[0]}}'> fasttrack</span>
                                <div class = 'col-2 d-flex flex-row justify-content-between'>
                                    <button type = "button" name = "TD_completed" class = 'rounded' id = "TD_completed_btn" value = "{{task[0]}}">
                                        <i class="fa fa-check"></i>
                                    </button>
                                    <button type="button" class="rounded btn-primary" data-bs-toggle="modal" data-bs-target="#modal_new_TD" data-bs-parent="{{task[0]}}">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <button type = "button" name = "TD_del" class = 'rounded' id = 'TD_delete_btn' value="{{task[0]}}" > 
                                        <i class='fa fa-trash'></i> 
                                    </button>
                                    <button type = "button" id = "TD_edit_btn" class = 'rounded' name = "TD_edit" value="{{task[0]}}">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </div>
                            </div>
                        {% else %}
                            <div class="d-flex flex-row mt-2 px-3">
                                <span class = 'col-8' name = 'TD_{{task[0]}}'>{{to_do[task[0]][0]}} </span>
                                <span class = 'col-2' name = 'TD_track_{{task[0]}}'> fasttrack</span>
                                <div class = 'col-2 d-flex flex-row justify-content-between'>
                                    <button type = "button" class = 'rounded' name = 'TD_expand' data-bs-toggle="collapse" data-bs-target="#TD_region_{{task[0]}}" aria-controls="TD_region_{{task[0]}}">
                                        <i class="fa-solid fa-list"></i>
                                    </button>
                                    <button type="button" class="rounded btn-primary" data-bs-toggle="modal" data-bs-target="#modal_new_TD" data-bs-parent="{{task[0]}}">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <button type = "button" id = "TD_edit_btn" class = 'rounded' name = "TD_edit" value="{{task[0]}}">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </div>
                            </div>
                            <div class = 'collapse' id = 'TD_region_{{task[0]}}'>
                                {% for t in task %} 
                                    {% if loop.first %} {% continue %} {% endif %}
                                    <div class="d-flex flex-row mt-2 px-3">
                                        <span class = 'col-8' name = 'TD_{{t}}'>{{to_do[t][0]}} </span>
                                        <span class = 'col-2' name = 'TD_track_{{t}}'> fasttrack</span>
                                        <div class = 'col-2 d-flex flex-row justify-content-between'>
                                            <button type = "button" name = "TD_completed" class = 'rounded' id = "TD_completed_btn" value = "{{t}}">
                                                <i class="fa fa-check"></i>
                                            </button>
                                            <button type = "button" name = "TD_del" class = 'rounded' id = 'TD_delete_btn' value="{{t}}">
                                                <i class='fa fa-trash'></i> 
                                            </button>
                                            <button type = "button" id = "TD_edit_btn" class = 'rounded' name = "TD_edit" value="{{t}}">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Modal pop up for new to do entry -->
            <div class="modal fade" id = "modal_new_TD" tabindex="-1" aria-labelledby="modal_new_TD_label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modal_new_TD_label">Add new to do</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="Parent-name" class="col-form-label">Parent:</label>
                                    <input type="text" class="form-control" id="TD_parent"></input>
                                </div>
                                <div class="mb-3">
                                    <label for="new-to-do" class="col-form-label">New to do:</label>
                                    <input type="text" class="form-control" id = "TD_task_name"></input>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id = "register_TD">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Completed TO DO -->
            <div class = 'd-flex flex-row'>
                <div class="d-flex flex-column col-6 bg-white ms-4 mb-4 p-1 shadow-sm rounded-lg">
                    <div class="d-flex flex-row justify-content-between px-3 my-2">
                        <h5>TO DO COMPLETED</h5>
                    </div>

                    {% for task in to_do_done %}
                    <div class="d-flex flex-row mt-2 px-3">
                        <span class = 'col-11' name = 'TD_{{task[0]}}'>{{task[1]}} </span>
                        <div class = 'col-1 d-flex flex-row justify-content-end'>
                            <button type = "button" name = "TD_undo" class = 'rounded' id = "TD_undo_btn" value = "{{task[0]}}">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Recurring Tasks -->
            <div class = 'd-flex flex-row'>
                <div class="d-flex flex-column col-6 bg-white ms-4 mb-4 p-1 shadow-sm rounded-lg">
                    <div class="d-flex flex-row justify-content-between px-3 my-2">
                        <h5>Recurring tasks</h5>
                        <div class="d-flex flex-row">
                            <input type="text" class="form-control rounded-pill ms-1" placeholder="New Task" aria-label = "RT_name" id = "RT_task_name">
                            <input type="text" class="form-control rounded-pill ms-1" placeholder="Points" aria-label = "RT_points" id = "RT_task_points">
                            <button class="btn btn-outline-secondary rounded-pill ms-1" type="button" id = "register_RT">Submit</button>
                        </div>
                    </div>

                    {% for task in recurring_tasks %}
                    <div class="d-flex flex-row mt-2 px-3">
                        <span class = 'col-8' name = 'RT_task_{{task[0]}}'>{{task[1]}} </span>
                        <span class = 'col-2' name = 'RT_points_{{task[0]}}'> {{task[3]}} </span>
                        <div class = 'col-2 d-flex flex-row justify-content-between'>
                            <button type = "button" name = "RT_completed" class = 'rounded' id = "RT_completed_btn" value = "{{task[0]}}">
                                <i class="fa fa-check"></i>
                            </button>
                            <button type = "button" name = "RT_del" class = 'rounded' id = 'RT_delete_btn' value="{{task[0]}}" > 
                                <i class='fa fa-trash'></i> 
                            </button>
                            <button type = "button" id = "RT_edit_btn" class = 'rounded' name = "RT_edit" value="{{task[0]}}">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Completed Recurring Tasks -->
            <div class = 'd-flex flex-row'>
                <div class="d-flex flex-column col-6 bg-white ms-4 mb-4 p-1 shadow-sm rounded-lg">
                    <div class="d-flex flex-row justify-content-between px-3 my-2"><h5>Recurring Tasks COMPLETED</h5></div>

                    {% for task in recurring_tasks_done %}
                    <div class="d-flex flex-row mt-2 px-3">
                        <span class = 'col-10'>{{task[1]}} </span>
                        <span class = 'col-1'>{{task[3]}} </span>
                        <div class = 'col-1 d-flex flex-row justify-content-end'>
                            <button type = "button" name = "RT_undo" class = 'rounded' id = "RT_undo_btn" value = "{{task[0]}}">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

<!-- including my logic scripts via main.js -->
<script type="module" src="{{url_for('static', filename = 'main.js')}}"></script>
<script>
    const modal_new_TD = document.getElementById('modal_new_TD')
    modal_new_TD.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        const parent = button.getAttribute('data-bs-parent')
        // Update the modal's content.
        const modalBodyInputParent = modal_new_TD.querySelector('#TD_parent')

        modalBodyInputParent.value = parent
    })
</script>