
<head> 
    <!-- Including files to import some css and font libs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- bootstrap related tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- including bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <!-- including jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- css for sidebar -->
    <link href="{{url_for('static', filename = 'css/sidebars.css')}}" rel="stylesheet">
    <!-- css for navbar -->
    <link href="{{url_for('static', filename = 'css/navbar.css')}}" rel="stylesheet">
    <!-- css for progress -->
    <link href="{{url_for('static', filename = 'css/progress.css')}}" rel="stylesheet">
</head>

<body>
    <!-- Page Wrapper -->
    <div id = "page_wrapper" class="d-flex flex-row bg-light h-100">
        <!-- Sidebar (Copied from bootstrap example of sidebar + offcanvas) -->
        <div class="offcanvas offcanvas-start flex-column flex-shrink-0 p-3 bg-light" id = 'sidebar' style="width: 280px;">
            <a class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <span class="fs-5 fw-semibold">Priyant Jain</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    Home
                </button>
                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#User_card" class="link-dark rounded">Overview</a></li>
                    <li><a href="#" class="link-dark rounded">Standard Tasks</a></li>
                    <li><a href="#" class="link-dark rounded">To Do</a></li>
                    <li><a href="#" class="link-dark rounded">Recurring Tasks</a></li>
                    </ul>
                </div>
                </li>
                <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Sheets
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Brainpad</a></li>
                    </ul>
                </div>
                </li>
            </ul>
        </div>
        
        <!-- Main Page -->
        <div class = 'd-flex flex-column flex-grow-1' id = 'main_page'>
            <!-- Navbar -->
            <nav class="navbar navbar-expand navbar-light bg-white">
                <div class="container-fluid">
                  <!-- Button not used will make navbar collapse if screen too small, need to change navbar-expand in nav tag-->
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_top" aria-controls="navbar_top" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
          
                  <div class="collapse navbar-collapse justify-content-sm-center" id="navbar_top">
                    <ul class="navbar-nav">
                        <a class="nav-link" id = 'a_sidebar_btn'>
                            <!-- Sidebar button (copied from bootstrap) -->
                            <button class="btn btn-sidebar align-items-center rounded collapsed" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                                <i class="fa-solid fa-bars-staggered"></i>
                            </button>
                        </a>
                        <a class="nav-link"> Gamifying Real Life </a>
                    </ul>
                  </div>
                </div>
            </nav>

            <div class="d-flex flex-row">
                <!-- User status card -->
                <div class="card mb-4 ms-4 shadow-sm col-sm-2 bg-white" id = "User_card">
                    <div class="card-body text-center">
                        <img src="../static/default_user_profile_pic.png" alt = "avatar"
                            class="shadow-sm rounded-circle img-fluid">
                        <h5 class="my-3">Priyant Jain</h5>
                        <h7 class="my-3">Current Score {{score}}</h7><br/>
                        <h7 class="my-3">{{[today_target - score, 0]| max}} points to go</h7><br/>
                        <h7 class="my-3">{{membership}} class</h7><br/>
                    </div>
                </div>

                <div class="d-flex flex-column">
                    <!-- Extra task -->
                    <div class = "d-flex flex-row input-group input-group mb-4 ms-4 shadow-sm bg-white rounded-pill p-1">
                        <span class = "input-group-text border border-0 bg-white rounded-pill" >Extra Task</span>
                        <input type="text" class="form-control rounded-pill" placeholder="Task name" aria-label = "ET_task_name" id = "ET_task_name">
                        <input type="text" class="form-control rounded-pill" placeholder="Points change" aria-label = "ET_points_change" id = "ET_points_change">
                        <button class="btn btn-outline-secondary rounded-pill" type="button" id = "register_ET">Submit</button>
                    </div>

                    <!-- Standard Tasks -->
                    <div class="col-xl-3 col-lg-6 mb-4">
                        <div class="bg-white rounded-lg p-5 shadow">
                            <h2 class="h6 font-weight-bold text-center mb-4">Overall progress</h2>
                    
                            <!-- Progress bar 1 -->
                            <div class="progress mx-auto" data-value='80'>
                            <span class="progress-left">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold">80<sup class="small">%</sup></div>
                            </div>
                            </div>
                            <!-- END -->
                    
                            <!-- Demo info -->
                            <div class="row text-center mt-4">
                            <div class="col-6 border-right">
                                <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
                            </div>
                            <div class="col-6">
                                <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
                            </div>
                            </div>
                            <!-- END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- <body>
    Weak as of now, need to learn and implement more complicated stuff for better implementation <br>
    <h1>Score : {{score}} / {{today_target}}<br>
    Class  : {{membership}}
    </h1>

    <div> 
        <label for="ExtraTask">Extra Task </label>
        <input type="text" id = "ExtraTask" name = "ExtraTask" placeholder = "Task Details">
        <input type="text" id = "ExtraTaskPoints" name = "ExtraTaskPoints" placeholder = "Points Change">
        <button type="button" name = "ET" id = "register_ET"> Submit </button> 
        <br/><br/>
    </div>

    <div> 
        <label for = "StandardTasks"> StandardTasks </label>
        <select name = "StandardTasks" id = "StandardTasks">
            <option value = "Select"> Select </option>
            <option value = "Walk"> Walk distance (steps)</option>
            <option value = "Learning"> Learning chunk (100 pt/unit)</option>
            <option value = "Brainpad"> Brainpad (100 pt/unit)</option>
        </select>
        <input type = "text" id = "StandardTasksValue" name = "StandardTasksValue">
        <button type="button" name = "StandardTasksSubmit" id = "StandardTasksSubmit"> Submit </button> 
        <br/><br/>
    </div>

    <div> 
        <label for = "DT_create"> Create Daily Task </label>
        <select name = "DT_create" id = "DT_task_no">
            <option value = "Select"> Select no. </option>
            <option value = "1"> 1 </option>
            <option value = "2"> 2 </option>
            <option value = "3"> 3 </option>
        </select>
        <input type = "text" id = "DT_task_name" name = "DT_create_task">
        <button type="button" name = "DT_create_submit" id = 'register_DT'> Submit </button> 
        <br/><br/>
    </div>

    <div> 
        {% if DT1_done == 1 %}
            <button type = "button" name = "DT_B1" id = "DT_B1" style = "background-color : green"> {{DT1}} </button> <br>
        {% else %}
            <button type = "button" name = "DT_B1" id = "DT_B1"> {{DT1}} </button> <br>
        {% endif %}
        
        {% if DT2_done == 1 %}
            <button type = "button" name = "DT_B2" id = "DT_B2" style = "background-color : green"> {{DT2}} </button> <br>
        {% else %}
            <button type = "button" name = "DT_B2" id = "DT_B2"> {{DT2}} </button> <br>
        {% endif %}

        {% if DT3_done == 1 %}
            <button type = "button" name = "DT_B3" id = "DT_B3" style = "background-color : green"> {{DT3}} </button> <br>
        {% else %}
            <button type = "button" name = "DT_B3" id = "DT_B3"> {{DT3}} </button> <br>
        {% endif %}
    </div>

    <h1> TO DO list </h1>

    <div> 
        <label for = "TD_add"> Add new To Do </label>
        <input type = "text" id = "TD_task_name" name = "TD_add" placeholder = "To Do Description"> -->
        <!-- <select name = "TD_filter" id = "TD_filter">
            <option value = "Select"> Select filter </option>
            <option value = "ML Learning"> ML Learning </option>
            <option value = "Acad"> Acad </option>
            <option value = "Extra Learning"> Extra Learning </option>
            <option value = "Personal"> Personal </option>
            <option value = "GRL"> GRL </option>
            <option value = "Projects"> Projects </option>
            <option value = "Others"> Others </option>
        </select> --> <!--
        <button type = "button" name = "TD_add" id = "register_TD"> Submit </button> <br/><br/>
    </div>

    <div>
        <table>
            {% for task in to_do %}
            <tr>
                <td> <span name = 'TD_{{task[0]}}'>{{task[1]}} </span> </td>
                <td> <span name = 'TD_filter_{{task[0]}}'>{{task[4]}} </span> </td>
                <td> <button type = "button" name = "TD_completed" id = "TD_completed_btn" value = "{{task[0]}}"> &#x2713;</button></td>
                <td>
                    <button type = "button" name = "TD_del" id = 'TD_delete_btn' value="{{task[0]}}" > 
                        <i class='fa fa-trash'></i> 
                    </button>
                </td>
                <td> 
                    <button type = "button" id = "TD_edit_btn" name = "TD_edit" value="{{task[0]}}">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h1> Completed TO DO </h1>
        <table>
            {% for task in to_do_done %}
            <tr>
                <td>{{task[1]}}</td>
                <td><button type = "button" name = "TD_undo" id = "TD_undo_btn" value = "{{task[0]}}"> &#x2717;</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    
    <h1> Recurring tasks </h1>
    <div> 
        <label for = "RT_add"> Add new recurring task </label>
        <input type = "text" id = "RT_task_name" name = "RT_add_task" placeholder = "Reccuring Task Description">
        <input type = "text" id = "RT_task_points" name = "RT_add_points" placeholder = "Reccuring Task Points">
        <button type = "button" name = "RT_add" id = "register_RT"> Submit </button> <br/><br/>
    </div>

    <div> 
        <table>
            {% for task in recurring_tasks %}
                <tr>
                    <td><span name = 'RT_task_{{task[0]}}'>{{task[1]}} </span></td>
                    <td><span name = 'RT_points_{{task[0]}}'>{{task[3]}} </span></td>
                    <td><button type = "button" name = "RT_completed" id = "RT_completed_btn" value = "{{task[0]}}"> &#x2713;</button></td>
                    <td>
                        <button type = "button" name = "RT_del" id = "RT_delete_btn" value="{{task[0]}}"> 
                            <i class='fa fa-trash'></i> 
                        </button>
                    </td>
                    <td> 
                        <button type = "button" name = "RT_edit_{{task[0]}}" id = "RT_edit_btn" value = '{{task[0]}}'>
                            <i class="fa fa-pencil"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h1> completed recurring tasks </h1>
        <table>
        {% for task in recurring_tasks_done %}
            <tr>
                <td>{{task[1]}}</td>
                <td>{{task[3]}}</td>
                <td><button type = "button" name = "RT_undo" id = "RT_undo_btn" value = "{{task[0]}}"> &#x2717;</button></td>
            </tr>
        {% endfor %}
        </table>
    </div>
</body> -->

<!-- <style>
    table, td {
        border: 1px solid black;
    }
</style> -->

<!-- including my logic scripts via main.js -->
<script type="module" src="{{url_for('static', filename = 'main.js')}}"></script>